<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact</title>
    <link rel="stylesheet" href="../css/style.css"/>
</head>
<body>
    <div class="navbar">
        <ul class="nav-list">
            <li><a href="../views/index.html">Home</a></li>
            <li><a href="../views/projects.html">Projects</a></li>
            <li><a href="../views/contact.html">Contact</a></li>
        </ul>
    </div>

    <div class="business-card">
        <h2>Jeffrey Millan</h2>
        <div class="contact-links">
            <a href="https://www.linkedin.com/in/jeffrey-millan/" target="_blank">
                <img src="../Images/linkedin.png" alt="LinkedIn">
            </a>
            <a href="https://github.com/jmillan736" target="_blank">
                <img src="../Images/github.png" alt="GitHub">
            </a>
        </div>
    </div>
    
</body>
</html>